<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change password</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %} 
</head>
<body>
<section class="vh-100 gradient-custom" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Change password</h2>
              <p class="text-white-50 mb-5">Please enter username and password!</p>
              <form action="" method="POST">
              {% csrf_token %}
              {{form.username}}
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Welcome, {{request.user.username}}</label>
              </div>

              <div class="form-outline form-white mb-4">
                {{form.old_password }}
                <label class="form-label" for="typePasswordX">Password0</label>
              </div>

              <div class="form-outline form-white mb-4">
                {{form.new_password1}} 
                <label class="form-label" for="typePasswordX">Password1</label>
              </div>
              <div class="form-outline form-white mb-4">
                {{form.new_password2}} 
                <label class="form-label" for="typePasswordX">Password1</label>
              </div>
              <div class="form-outline form-white mb-4">
                {{form.verification_field}} 
                <label class="form-label" for="typePasswordX">Verification</label>
              </div>
              <p class="small mb-5 pb-lg-2"><a class="text-white-50" onclick="send_secret_key()">Verification</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script type="text/javascript">
       function send_secret_key() {
        var request = new XMLHttpRequest();
        var url = '/auth_market/send_secret_key/?email=' + encodeURIComponent('{{ request.user.email }}');
        request.open('GET', url, true);
        request.onreadystatechange = function () {
            if (request.readyState === 4) {
                if (request.status === 200) {
                    alert("Message have been sent")
                } else {
                    alert("Error: " + request.statusText);
                }
            }
        };
        request.send();
    }
</script>
{% if messages %}
{{form.error}}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %} 
</body>
</html>